/ {
    deca_layout: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Deca Finger Layout";

        /* Must reference a real matrix transform node */
        transform = <&deca_transform>;
    };
};
