#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                    /* Row 0: i1  m1  r1  p1 */
                    &kp Q   &kp W   &kp E   &kp R
                    /* Row 1: i2  m2  r2  p2 */
                    &kp A   &kp S   &kp D   &kp F
                /* Thumbs: t1  t2 */
                &kp SPACE &kp ENTER
            >;
        };
    };
};